/* generic styling for all elements */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* generic styling for the nav section */
nav{
    display: flex; 
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: 'Poppins', sans-serif;
    background-color: #5D4954;
}

/* Styling for the logo section */
.logo{
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;

}

/* removing the bullets on the nav links */
.nav-links li{
    list-style: none;
}

/* Making the color of text on the navlinks consistent i.e all a tage
in the nav links*/
.nav-links a{
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}


/* burger menu for mobile view  and setting it to none*/
.burger{
    display: none;
    cursor: pointer;
}

/* properties for each burger line */
.burger div{
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition:  all 0.3s ease;
}

/* adjusting the view based on chainging width for different devices */
/* tablet zone */
@media screen and (max-width:1024px){
    .nav-links{
        width: 60%;
    }
}

/* mobile zone */
@media screen and (max-width:760px){
    body{
        overflow-y: hidden;

    }
    .nav-links{
        position: absolute;
        right: 8px;
        height: 92vh;
        top: 8vh;
        background-color: #5D4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
    .nav-links li{
        opacity: 0;
    }
    .burger{
        display: block;
    }

}

.nav-active{
    transform: translateX(0%);
}

@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1{
    transform: rotate(-45deg) translate(-5px, -6px);
}

.toggle .line2{
    opacity: 0;
}

.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}


.box-wrapper{
    display: flex;
    border: 1px solid #5D4954;
}

/* Float four columns side by side */
.column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 760px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }


  .login-link {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 100;
    padding: 20px;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    transition: all 0.3s ease 0s;
    }

.login-link:hover {
color: #404040 !important;
font-weight: 700 !important;
letter-spacing: 3px;
background: none;
-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
transition: all 0.3s ease 0s;
}